<div>
  <md-toolbar color="primary">

    <span>NEW DOTS REALISED!</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Option 1</button>
    <button md-menu-item>Option 2</button>
  </md-menu>
  <md-grid-list cols="3">
    <md-grid-tile *ngFor="let course of courses">
      <app-course-preview [course]="course"></app-course-preview>
    </md-grid-tile>
  </md-grid-list>
</div>
